@import "tailwindcss";

@theme {
  /* colors */
  --color-cream: #f8e9dd;
  --color-red: #ec755d;
  --color-light: #fffbf6;
  --color-wihite: #fff;
  --color-dark-brown: #382314;
  --color-cyan: #76b5bc;
  --color-medium-brown: #92857a;

  /* fonts */
  --default-font-family: "DM Sans Variable", "Arial", sans-serif;
}

@layer base {
  body {
    @apply text-lg text-medium-brown  font-normal leading-[1] min-h-screen bg-cream flex items-center justify-center;
  }
}
